.charWrapper {
    margin-left: 100px;
    margin-right: 100px;
    min-height: 900px;
    background-color: rgb(60, 190, 147);
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
   
    
}
.grid > :global(.card) {
    flex: 1 1 calc(33.333% - 60px); 
    box-sizing: border-box; 
    margin-bottom: 6px; 
}

.charWrapper h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;

}