footer {
    background-color: rgb(60, 190, 147);
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 13px;
    height: 20px;
    padding-top: 3px;
  
  }
  