.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
   
}

li {
    color: white;
    list-style: none;
    margin-left: 20px;
}



.mythic-runs {
    width: 700px;
    background-color: rgb(60, 190, 147);
    border-radius: 8px;
}



.listOfNames {
    border-top: 3px solid white;
    padding-top: 20px;
}

.notSelected {
    height: 900px;
    width: 100%;
    background-color: black ;
}
.notSelected p {
    text-decoration: none;
    background-color: rgb(60, 190, 147);
    margin: 80px;
    height: 700px;
    text-align: center;
    padding-top: 300px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10px;
}

