.searchBar {
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 66%;
    
}

.searchBar input:focus {
    outline: none;
  }

